# -----------------------------------------------------------------------------
# App Configuration
# -----------------------------------------------------------------------------

# Data fetching strategy ['mock' | 'api']
NEXT_PUBLIC_APP_DATA_MODE=mock

# -----------------------------------------------------------------------------
# API Endpoints
# -----------------------------------------------------------------------------

# Base URL for primary backend services
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080